@model IEnumerable<AgendaVoluntarios.DTO.ViewModels.ProfileViewModel>
@using AgendaVoluntarios.Services.Interfaces;
@inject IFunctionService _functionService

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<h4>Perfil</h4>
<hr />

@if (Model.Count() >= 1)
{
    <text>
    </text>
}
else
{
<p>
    <a asp-action="Create">Criar novo perfil</a>
</p>
}
     
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th> Funções</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var functions = await _functionService.GetFunctionByProfileIdAsync(item.Id);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>@string.Join(", ", functions.Select(x => x.ActivityTypeName))</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
