@model AgendaVoluntarios.DTO.InputModels.EditEventInputModel
@inject AgendaVoluntarios.Services.Interfaces.IMusicService _musicService
@inject AgendaVoluntarios.Services.Interfaces.IProfileService _profileService

@{
    ViewData["Title"] = "Edit";
    string disabledAttribute = null;
}

<h1>Editar</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="EventAt" class="control-label">Data do Evento</label>
                        <input asp-for="EventAt" type="datetime-local" class="form-control" readonly />
                        <span asp-validation-for="EventAt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Musics" class="control-label">Músicas</label>
                        <select asp-for="Musics" class="form-select" id="select-multiple" multiple="multiple">
                            @foreach (var item in await _musicService.GetAllAsync())
                            {
                                var musics = await _musicService.GetMusicByEventIdAsync(Model.Id);
                                <text>
                                    @if (musics.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.Name</option>

                                    }
                                </text>
                            }
                        </select>
                        <span asp-validation-for="Musics" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Vocals, Model.Id) ? "disabled" : null;
                        }
                        <label asp-for="ProfileVocalsEvents" class="control-label">Vocais</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Vocals)" asp-for="ProfileVocalsEvents[0].ActivityId" />
                        <select class="form-select" asp-for="ProfileVocalsEvents[0].ProfileIds" id="select1-multiple" multiple="multiple" disabled="@disabledAttribute">
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Vocals))
                            {
                                var profileVocalsEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Vocals, Model.Id);
                                <text>
                                    @if (profileVocalsEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                        <span asp-validation-for="ProfileVocalsEvents[0].ProfileIds" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Drums, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Bateristas</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Drums)" asp-for="ProfileEvents[0].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[0].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Drums))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Drums, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.AcousticGuitar, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Violão</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.AcousticGuitar)" asp-for="ProfileEvents[1].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[1].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.AcousticGuitar))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.AcousticGuitar, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.BassGuitar, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Contra Baixo</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.BassGuitar)" asp-for="ProfileEvents[2].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[2].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.BassGuitar))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.BassGuitar, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.ElectricGuitar, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Guitarra</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.ElectricGuitar)" asp-for="ProfileEvents[3].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[3].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.ElectricGuitar))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.ElectricGuitar, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Keyboard, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Teclado</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Keyboard)" asp-for="ProfileEvents[4].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[4].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Keyboard))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Keyboard, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Photography, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Fotografia</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Photography)" asp-for="ProfileEvents[5].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[5].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Photography))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Photography, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.SocialMedia, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Media Social</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.SocialMedia)" asp-for="ProfileEvents[6].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[6].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.SocialMedia))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.SocialMedia, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        @{
                            disabledAttribute = await _profileService.CheckIfProfileIsConfirmedForEventAndActivity((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Projector, Model.Id) ? "disabled" : null;
                        }
                        <label class="control-label">Projeção</label>
                        <input hidden value="@((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Projector)" asp-for="ProfileEvents[7].ActivityId" />
                        <select class="form-select" asp-for="ProfileEvents[7].ProfileId" disabled="@disabledAttribute">
                            <option value="" selected>Selecione</option>
                            @foreach (var item in await _profileService.GetProfileByActivityIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Projector))
                            {
                                var profileEvents = await _profileService.GetProfilesByActivityIdAndEventIdAsync((int)AgendaVoluntarios.DTO.Enums.ActivityTypes.Projector, Model.Id);
                                <text>
                                    @if (profileEvents.Any(x => x.Id == item.Id))
                                    {
                                    <option value="@item.Id" selected>@item.FullName</option>
                                    }
                                    else
                                    {
                                    <option value="@item.Id">@item.FullName</option>

                                    }
                                </text>
                            }
                        </select>
                        <span asp-validation-for="ProfileEvents[7].ProfileId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="submit" value="Salvar" class="btn btn-primary float-start" />
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-secondary float-end">Voltar à Lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#select-multiple').select2({
                placeholder: '',
                allowClear: true,
                escapeMarkup: function (markup) { return markup; },
                closeOnSelect: true,
            });
            $('#select1-multiple').select2({
                placeholder: '',
                allowClear: true,
                escapeMarkup: function (markup) { return markup; },
                closeOnSelect: true,
            });
        });
    </script>
}
